html{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5,
p{
 margin: 0;   
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.header {
    /* max-width: 1280px;
    margin: auto; */
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 4px;
}

.header__top {
    display: flex;
    justify-content: end;
    gap: 183px;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 50px 13px 0;
    margin-bottom: 21.5px;
}
.header__top-contacts {
    display: flex;
    flex-basis: 474px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
}
.contacts-mail {
    text-transform: lowercase;
    color: #101d23;
    padding: 0 10px;
    display: flex;
    gap: 13px;
}

.contacts-mail::before{
    content: url(img/mail.svg);
}

.contacts-tel {
    text-transform: lowercase;
    color: #101d23;
    padding: 0 10px;
    display: flex;
    gap: 8px;
}

.contacts-tel::before{
    content: url(img/phone.svg);
}

.contacts-req {
    text-transform: uppercase;
    color: #e93d07;
    padding: 0 10px;
}
.header__top-social {
    display: flex;
    gap: 19px
}
.social-facebook {
}
.social-vk {
}
.social-youtube {
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 51px;
}
.header__nav-logo {

}
.header__nav-menu {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #101d23;
    
}
.menu-items {
    display: flex;
    gap: 50px;
    padding: 6px 20px 6px 20px;
    border-right: 1px solid #101d23;
}
.menu-item {
}
.menu-search {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.search {

}
.header__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    /* width: fit-content;
    margin: 0 auto; */
}



.content-group {
    grid-row: 1/ span 2;
    grid-column: 1/2;
    position: relative;

}
.content-percent {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    position: relative;
}
.content-calc {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    position: relative;
}

.mask_group {
    /* position: relative; */
   
}

.mask-inner-title {
    position: absolute;
    font-weight: 500;
    font-size: 36px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #101d23;
    top: 203px;
    left: 56px;
}
.masc-inner-text {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #101d23;
    width: 346px;
    top: 329px;
    left: 56px;
}
.mask-inner-arrows {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 347px;
    right: 54px;
}

.percent {
    /* position: relative; */
}
.spec-offer a{
    position: absolute;
    padding: 4px 8px;
    background-color: #f3f6f8;
    border-radius: 20px;
    font-weight: 600;
    font-size: 6px;
    /* line-height: 1538%; */
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #101d23;
    top: 126px;
    left: 12px;
}
.percent-text {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.04em;
    color: #fff;
    top: 155px;
    left: 20px;
}


.calc {

}

.instruments a{
    position: absolute;
    padding: 4px 8px;
    background-color:#e93d07;
    border-radius: 20px;
    font-weight: 600;
    font-size: 6px;
    /* line-height: 1538%; */
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
    top: 113px;
    left: 20px;
}
.calc-test {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.04em;
    color: #fff;
    top: 136px;
    left: 20px;
}

.header__bottom {
}