body {
    width: 1520px;
    min-width: 1200px;
    margin: 0;
}

.navigation-board {
    width: 100%;
    height: 10%;
    background-color: #29A28C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: fit-content; */
}

header {
    height: 758px;
    /* background-image: url(https://ucarecdn.com/761233c4-7224-418d-b151-ea7bc1196250/); */
    background-image: url(img/cooper.jpg);
    background-size: cover;
    min-width: fit-content;
}

nav {
    width: 890px;
    margin-right: 70px;
    /* border: 1px solid; */
}

ul {
    list-style-type: none;
    font-family: "Open sans";
    font-size: 18px;
    color: #FFFFFF;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

svg {
    margin-left: 7px;
}

.icon-left {
    display: flex;
    align-items: center;
    margin-left: 77px;
    min-width: fit-content;
}

.icon-logo {
    background-image: url(https://ucarecdn.com/b4157a46-7c83-475d-afd0-e2d490c29bbd/);
    background-color: #fff;
    /* background-size: cover; */
    width: 46px;
    height: 46px;
    background-position: left 35% top 45%;
    border-radius: 50%;
    
}

.icon-title {
    font-family: "Open sans";
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 11px;
}

.central-title {
    width: 870px;
    font-family: "Open sans";
    letter-spacing: 0.08em;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #000;
    font-size: 47px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-top: 211px;
}

.bottom-style {
    margin: auto;
    font-family: "Open sans";
    font-size: 16px;
    color: #FFFFFF;
    width: 278px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 43px;
    padding: 12px;
    margin-top: 57px;
}

.arrow {
    margin-left: 48%;
    margin-top: 5%;
}

.pos-table {
    display: flex;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 150px;
    /* border: 1px solid; */
}

.pos-table-cont {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    padding: 0 92px 0 92px;
    font-family: "Open sans";
}

.pos-table-cont:nth-child(-n+3) {
    border-right: 3px solid #29A28C;
}

.pos-table-cont>div:nth-child(1) {
    font-size: 48px;
    font-weight: 600;
}





