body {
    width: 1520px;
    min-width: 1200px;
    margin: 0;
}

.navigation-board {
    width: 100%;
    height: 10%;
    background-color: #29A28C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: fit-content; */
}

header {
    height: 758px;
    /* background-image: url(https://ucarecdn.com/761233c4-7224-418d-b151-ea7bc1196250/); */
    background-image: url(img/cooper.jpg);
    background-size: cover;
    min-width: fit-content;
}

nav {
    width: 890px;
    margin-right: 70px;
    /* border: 1px solid; */
}

ul {
    list-style-type: none;
    font-family: "Open sans";
    font-size: 18px;
    color: #FFFFFF;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

svg {
    margin-left: 7px;
}

.icon-left {
    display: flex;
    align-items: center;
    margin-left: 77px;
    min-width: fit-content;
}

.icon-logo {
    background-image: url(https://ucarecdn.com/b4157a46-7c83-475d-afd0-e2d490c29bbd/);
    background-color: #fff;
    /* background-size: cover; */
    width: 46px;
    height: 46px;
    background-position: left 35% top 45%;
    border-radius: 50%;
    
}

.icon-title {
    font-family: "Open sans";
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 11px;
}

.central-title {
    width: 870px;
    font-family: "Open sans";
    letter-spacing: 0.08em;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #000;
    font-size: 47px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-top: 211px;
}

.bottom-style {
    margin: auto;
    font-family: "Open sans";
    font-size: 16px;
    color: #FFFFFF;
    width: 278px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 43px;
    padding: 12px;
    margin-top: 57px;
}

.arrow {
    margin-left: 48%;
    margin-top: 5%;
}

.pos-table {
    display: flex;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 150px;
    /* border: 1px solid; */
}

.pos-table-cont {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    padding: 0 92px 0 92px;
    font-family: "Open sans";
}

.pos-table-cont:nth-child(-n+3) {
    border-right: 3px solid #29A28C;
}

.pos-table-cont>div:nth-child(1) {
    font-size: 48px;
    font-weight: 600;
}

.consultation-table {
    width: 90%;
    height: 584px;
    /* border: 2px solid; */
    margin: auto;
    margin-top: 180px;
    display: flex;
}

.right-side {
    font-family: "Open sans";
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.right-side>div:first-child {
    font-size: 35px;
    font-weight: bold;
    padding: 30px 0 30px 0;
    /* border: 1px solid; */
    margin-top: 26px;
    position: relative;
}

.right-side>div:first-child::before {
    content: url(img/quotes-left.jpg);
    position: absolute;
    transform: translate(-70px ,60px);
}

.right-side>div:first-child::after {
    content: url(img/quotes-right.jpg);
    position: absolute;
    transform: translate(50px, -78px);
}

.right-side>div:nth-child(2) {
    margin-top: 56px;
    font-size: 20px;
}

.right-side>div:nth-child(3) {
    margin-top: 56px;
    margin-left: 30%;
    font-size: 16px;
    letter-spacing: -0.01em;
    width: 256px;
    padding: 11px 0;
    border-radius: 32px;
    color: #FFFFFF;
    background-color: #000;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.25);
}

.right-side>div:nth-child(4) {
    font-size: 12px;
    text-align: center;
    margin-top: auto;
    padding: 30px;
}
